<div class="container">
    <div class="text-center mt-3">
      <h1 class="col-md-2 mx-auto midasi">ご挨拶</h1>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= image_tag "sonoyamamikio.jpg", class: "d-block w-100" %>
      </div>

      <div class="col-md-8">
        <p>この度は、園山幹生のHPを開拓させて頂きました。色彩にこだわる園山幹生の世界を<br>
        どうぞご堪能ください。</p>
      </div>
    </div>

</div>