<div class="container">
  <div class="text-center mt-3">
    <h1 class="col-md-3 mx-auto midasi">経歴一覧</h1>
  </div>

  <div class="row">
    <div class="col-2 mt-3">
      <p class="text-left text-dark komoji">1948年</p>
      <p class="text-left text-dark komoji lineman">1971年</p>
      <p class="text-left text-dark komoji">1972年</p>
      <p class="text-left text-dark komoji lineman">1973年</p>
      <p class="text-left text-dark komoji">1975年</p>
      <p class="text-left text-dark komoji lineman">1976年</p>
      <p class="text-left text-dark komoji">1976年～1977年</p>
      <p class="text-left text-dark komoji lineman">1978年</p>
      <p class="text-left text-dark komoji">1980年</p>
      <p class="text-left text-dark komoji lineman">1981年</p>
      <p class="text-left text-dark komoji">1981年</p>
      <p class="text-left text-dark komoji lineman">1983年～1984年</p>
      <p class="text-left text-dark komoji">1988年</p>
      <p class="text-left text-dark komoji lineman">1988年</p>
      <p class="text-left text-dark komoji">1990年</p>
      <p class="text-left text-dark komoji lineman">1992年</p>
      <p class="text-left text-dark komoji">1994年</p>
      <p class="text-left text-dark komoji lineman">　</p>
      <p class="text-left text-dark komoji">1997年</p>
      <p class="text-left text-dark komoji lineman">1997年</p>
      <p class="text-left text-dark komoji">1998年</p>
    </div>

    <div class="col mt-3 yohaku">
      <p class="text-left text-dark komoji">島根県出雲市（旧平田市）生まれ</p>
      <p class="text-left text-dark komoji lineman">金沢美術工芸大学油絵学科卒</p>
      <p class="text-left text-dark komoji">第49回春陽会展示出品以後57回まで出品</p>
      <p class="text-left text-dark komoji lineman">大阪・福岡にてグループ展</p>
      <p class="text-left text-dark komoji">毎日現在美術展出品</p>
      <p class="text-left text-dark komoji lineman">リオデジャネイロ、ギャラリーイランジーニにて個展</p>
      <p class="text-left text-dark komoji">アメリカ、南米、ヨーロッパ遊学</p>
      <p class="text-left text-dark komoji lineman">銀座三菱電機ギャラリーにて個展</p>
      <p class="text-left text-dark komoji">春陽会退会</p>
      <p class="text-left text-dark komoji lineman">一創会に出品（セントラル美術館賞受賞）</p>
      <p class="text-left text-dark komoji">小田急百貨店（新宿）にて個展、以後2021年まで17回開催</p>
      <p class="text-left text-dark komoji lineman">南仏にて制作</p>
      <p class="text-left text-dark komoji">サンパウロ美術館（ブラジル）にて個展</p>
      <p class="text-left text-dark komoji lineman">グランクルース勲章（文化功労賞受賞）</p>
      <p class="text-left text-dark komoji">サンパウロ名誉州民賞受賞、アルチファクト画廊にて個展</p>
      <p class="text-left text-dark komoji lineman">三重県デイリー＆ジャパンccにて1000号「ミコノスの朝」制作</p>
      <p class="text-left text-dark komoji">「出雲の阿国と出雲大社」記念切手を描く、</p>
      <p class="text-left text-dark komoji lineman">以後2004年までお年玉年賀ハガキに採用される</p>
      <p class="text-left text-dark komoji">松江一畑百貨店にて個展</p>
      <p class="text-left text-dark komoji lineman">出雲空港カントリークラブに500号「斐伊川の朝」制作</p>
      <p class="text-left text-dark komoji">平田（出雲市）本陣記念館にて個展</p>
    </div>

    <div class="col mt-3">
      <p class="text-left text-dark komoji">1999年</p>
      <p class="text-left text-dark komoji lineman">2001年</p>
      <p class="text-left text-dark komoji">2003年</p>
      <p class="text-left text-dark komoji lineman">2004年</p>
      <p class="text-left text-dark komoji">2005年</p>
      <p class="text-left text-dark komoji lineman">2006年</p>
      <p class="text-left text-dark komoji">2006年</p>
      <p class="text-left text-dark komoji lineman">2007年</p>
      <p class="text-left text-dark komoji">2009年</p>
      <p class="text-left text-dark komoji lineman">2010年</p>
      <p class="text-left text-dark komoji">2013年</p>
      <p class="text-left text-dark komoji lineman">2013年</p>
      <p class="text-left text-dark komoji">2014年</p>
      <p class="text-left text-dark komoji lineman">2015年</p>
      <p class="text-left text-dark komoji">2016年</p>
      <p class="text-left text-dark komoji lineman">2016年～2017年</p>








    </div>

  </div>

</div>