<div class="container">
  <div class="text-center mt-3">
    <h1 class="col-md-3 mx-auto midasi">経歴一覧</h1>
  </div>
  <!--次回経歴一覧の線から考える。-->
  <div class="row d-flex">
    <div class="mt-3">
      <p class="text-left text-dark komoji">1948年</p>
      <p class="text-left text-dark komoji lineman">1971年</p>
      <p class="text-left text-dark komoji">1972年</p>
      <p class="text-left text-dark komoji lineman">1973年</p>
      <p class="text-left text-dark komoji">1975年</p>
      <p class="text-left text-dark komoji lineman">1976年</p>
      <p class="text-left text-dark komoji">1976年～1977年</p>
      <p class="text-left text-dark komoji lineman">1978年</p>
      <p class="text-left text-dark komoji">1980年</p>
      <p class="text-left text-dark komoji lineman">1981年</p>
      <p class="text-left text-dark komoji">1981年</p>
      <p class="text-left text-dark komoji lineman">1983年～1984年</p>
      <p class="text-left text-dark komoji">1988年</p>
      <p class="text-left text-dark komoji lineman">1988年</p>
      <p class="text-left text-dark komoji">1990年</p>
      <p class="text-left text-dark komoji lineman">1992年</p>
      <p class="text-left text-dark komoji">1994年</p>
      <p class="text-left text-dark komoji lineman">　</p>
      <p class="text-left text-dark komoji">1997年</p>
      <p class="text-left text-dark komoji lineman">1997年</p>
      <p class="text-left text-dark komoji">1998年</p>
    </div>

    <div class="mt-3 yohaku">
      <p class="text-left text-dark komoji">島根県出雲市（旧平田市）生まれ</p>
      <p class="text-left text-dark komoji lineman">金沢美術工芸大学油絵学科卒</p>
      <p class="text-left text-dark komoji">第49回春陽会展示出品以後57回まで出品</p>
      <p class="text-left text-dark komoji lineman">大阪・福岡にてグループ展</p>
      <p class="text-left text-dark komoji">毎日現在美術展出品</p>
      <p class="text-left text-dark komoji lineman">リオデジャネイロ、ギャラリーイランジーニにて個展</p>
      <p class="text-left text-dark komoji">アメリカ、南米、ヨーロッパ遊学</p>
      <p class="text-left text-dark komoji lineman">銀座三菱電機ギャラリーにて個展</p>
      <p class="text-left text-dark komoji">春陽会退会</p>
      <p class="text-left text-dark komoji lineman">一創会に出品（セントラル美術館賞受賞）</p>
      <p class="text-left text-dark komoji">小田急百貨店（新宿）にて個展、以後2021年まで17回開催</p>
      <p class="text-left text-dark komoji lineman">南仏にて制作</p>
      <p class="text-left text-dark komoji">サンパウロ美術館（ブラジル）にて個展</p>
      <p class="text-left text-dark komoji lineman">グランクルース勲章（文化功労賞受賞）</p>
      <p class="text-left text-dark komoji">サンパウロ名誉州民賞受賞、アルチファクト画廊にて個展</p>
      <p class="text-left text-dark komoji lineman">三重県デイリー＆ジャパンccにて1000号「ミコノスの朝」制作</p>
      <p class="text-left text-dark komoji">「出雲の阿国と出雲大社」記念切手を描く、</p>
      <p class="text-left text-dark komoji lineman">以後2004年までお年玉年賀ハガキに採用される</p>
      <p class="text-left text-dark komoji">松江一畑百貨店にて個展</p>
      <p class="text-left text-dark komoji lineman">出雲空港カントリークラブに500号「斐伊川の朝」制作</p>
      <p class="text-left text-dark komoji">平田（出雲市）本陣記念館にて個展</p>
    </div>

    <div class="mt-3 tokusyuyohaku">
      <p class="text-left text-dark komoji">1999年</p>
      <p class="text-left text-dark komoji lineman">2001年</p>
      <p class="text-left text-dark komoji">2003年</p>
      <p class="text-left text-dark komoji lineman">2004年</p>
      <p class="text-left text-dark komoji">2005年</p>
      <p class="text-left text-dark komoji lineman">2006年</p>
      <p class="text-left text-dark komoji">2006年</p>
      <p class="text-left text-dark komoji lineman">2007年</p>
      <p class="text-left text-dark komoji">2009年</p>
      <p class="text-left text-dark komoji lineman">2010年</p>
      <p class="text-left text-dark komoji">2013年</p>
      <p class="text-left text-dark komoji lineman">2013年</p>
      <p class="text-left text-dark komoji">2014年</p>
      <p class="text-left text-dark komoji lineman">2015年</p>
      <p class="text-left text-dark komoji">2016年</p>
      <p class="text-left text-dark komoji lineman">2016年～2017年</p>
      <p class="text-left text-dark komoji">2018年</p>
      <p class="text-left text-dark komoji lineman">2021年</p>
      <p class="text-left text-dark komoji">2021年</p>
      <p class="text-left text-dark komoji lineman">2022年</p>
      <p class="text-left text-dark komoji">2023年</p>
      <p class="text-left text-dark komoji lineman">2023年</p>
    </div>

    <div class="mt-3 migiyohaku">
      <p class="text-left text-dark komoji">アメリカニューヨークへ文化庁より派遣、広島呉そごうにて個展</p>
      <p class="text-left text-dark komoji lineman">全国テレビネットワーク「美に生きる」出演</p>
      <p class="text-left text-dark komoji">出雲大社にて「出雲阿国を描く」</p>
      <p class="text-left text-dark komoji lineman">銀座ギャラリー喜久田にて個展</p>
      <p class="text-left text-dark komoji">島根県出雲市平田本陣記念館にて個展</p>
      <p class="text-left text-dark komoji lineman">銀座ギャラリー白石にて個展</p>
      <p class="text-left text-dark komoji">出雲平田本陣記念館にて画業40周年記念展</p>
      <p class="text-left text-dark komoji lineman">大阪、大丸にて個展、松江一畑にて個展、東京池袋三越にて個展</p>
      <p class="text-left text-dark komoji">出雲平田本陣記念館にて個展</p>
      <p class="text-left text-dark komoji lineman">出雲平田本陣記念館にて画業45周年記念展</p>
      <p class="text-left text-dark komoji">金沢（大和デパート）、下関（大丸デパート）にて個展</p>
      <p class="text-left text-dark komoji lineman">浦和（伊勢丹）、岡山（高島屋）、広島（天満屋）個展</p>
      <p class="text-left text-dark komoji">サンパウロ（ブラジル）マツバラホテルにて個展</p>
      <p class="text-left text-dark komoji lineman">島根県県知事より表彰を受ける</p>
      <p class="text-left text-dark komoji">小田急百貨店（新宿）にて個展</p>
      <p class="text-left text-dark komoji lineman">平田（出雲市）本陣記念館にて50周年記念展</p>
      <p class="text-left text-dark komoji">新極美術協会点で「内閣総理大臣賞」を受賞</p>
      <p class="text-left text-dark komoji lineman">新宿小田急百貨店にて個展</p>
      <p class="text-left text-dark komoji">出雲市今岡美術館にて画業55周年展</p>
      <p class="text-left text-dark komoji lineman">金沢北國新聞ホールにて個展、出雲市今岡美術館にて3人展</p>
      <p class="text-left text-dark komoji">新宿高島屋にて個展</p>
      <p class="text-left text-dark komoji lineman">現在日本美術家協会会員、新極美術協会副会長</p>
    </div>

  </div>

</div>