<div class="container">
  <div class="text-center mt-3">
    <h1 class="col-md-5 mx-auto midasi">最新の活動記録</h1>
  </div>

  <div oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;", class="d-flex flex-wrap items-width">
    <div class="mx-3 my-3 hantengu">
      <%= image_tag "hananocontrast100.jpg", size: "200x200" %>
      <p class="text-center text-dark">2018</p>
      <p class="text-center text-dark bunmidasi">花のコントラスト</p>
      <!--文章-->
      <p class="text-left text-dark komoji">内閣総理大臣賞を上記の絵にて<br>
      受賞しました。
      </p>
    </div>

    <div class="mx-3 my-3 hantengu">
      <%= image_tag "izumookuni.jpg", size: "200x200" %>
      <p class="text-center text-dark">1994</p>
      <p class="text-center text-dark bunmidasi">出雲阿国と出雲大社</p>
      <!--文章-->
      <p class="text-left text-dark komoji">記念切手として出雲阿国と出雲<br>
      大社の絵が郵政省に採用されま<br>
      した。
      </p>
    </div>

    <div class="mx-3 my-3 hantengu">
      <%= image_tag "mikonosu12.png", size: "200x200" %>
      <p class="text-center text-dark">1992</p>
      <p class="text-center text-dark bunmidasi">ミコノスの朝</p>
      <!--文章-->
      <p class="text-left text-dark komoji">三重県のゴルフ場のクラブハウ<br>
      スに8mの作品を納品しました。
      </p>
    </div>

    <div class="mx-3 my-3 hantengu">
      <%= image_tag "okihananoarucoposition.jpg", size: "210x200" %>
      <p class="text-center text-dark">2020</p>
      <p class="text-center text-dark bunmidasi">花のあるコンポジション</p>
      <!--文章-->
      <p class="text-left text-dark komoji">隠岐のEntoホテルに上記の作品を<br>
      納品しました。
      </p>
    </div>

  </div>

</div>