<div class="container">
  <div class="row my-4 ueyohaku">
    <h1 class="col-9 kanrimidasi text-center">絵画一覧</h1>
  </div>

  <!--テーブル-->
  <table class="table table-hover table-bordered">

    <thead class="text-white atora2 text-center">
      <tr>
        <th>絵画ID</th>
        <th>絵画名</th>
        <th>税込価格</th>
        <th>販売ステータス</th>
      </tr>
    </thead>

    <tbody class="haku text-center">
      <!--繰り返し処理-->
      <% @pictures.each do |picture| %>
        <tr>
          <td><%= picture.id %></td>
          <td><%= link_to picture.name, admin_picture_path(picture) %></td>
          <td>
              <%= link_to "削除する", admin_picture_path(picture.id), class: "btn btn-sm btn-danger offset-md-2", method: :delete %>
          </td>

          <% if picture.is_active == true %>
            <td class="text-success font-weight-bold">販売中</td>
          <% else %>
            <td class="text-danger font-weight-bold">販売停止中</td>
          <% end %>
        </tr>
      <% end %>

    </tbody>

  </table>


</div>