@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.atiti{
        background-color: #6c757d;
        height: 110px;
}

.pikari{
        background-color: #6c757d;
        height: 250px;
}

.midasi{
        font-family: cursive;
        font-size: 50px;
        background-color: rgba(147,184,129,0.3);
}

.submidasi{
           font-family: cursive;
           font-size: 38px;
}

.bunmidasi{
            font-weight: bold;
            font-size: 15px;
            line-height: 2px;
}

.komoji{
         font-size: 14px;
}

.hakari{
        height: 750px;
}

// ページネーション自体のデザイン
.kanrimidasi{
             font-family: cursive;
             font-size: 50px;
             background-color: rgba(236,109,113,0.3);
}

// 表示しているページ番号のﾃﾞｻﾞｲﾝ
.pagination>li>a {
                    border: none;
                    color: #696969;
}

.pagination>.active>a {
  border-radius: 50%;
  opacity: 0.7;
  /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.pagination>li {
  margin-right: 20px;
}
// ここまでページネーション

.hantengu{
          border: 3px dashed #CCC;
}