@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.atiti{
        background-color: #6c757d;
        height: 110px;
}

.pikari{
        background-color: #6c757d;
        height: 250px;
}

.midasi{
        font-family: cursive;
        font-size: 50px;
        background-color: rgba(147,184,129,0.3);
}