<footer class="pikari mt-4">
  <div class="container mb-5">
    <div class="row no-gutters">
      <div class="col-md-12 mx-auto text-center">
        <p class="text-white py-3">©2023 園山幹生公式ホームページ【色彩の魔術師】All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>